CMakeFiles/
CMakeCache.txt
cmake_install.cmake

bin/
Debug/
Release/
*.dir/
x64/

.vs/
.idea/
.vscode/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.suo

resources/sources/
resources/exclude.txt
saves/